.container{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
p{font-size: 55px;
  color: #FFF6E9;
  font-family: "Montserrat", sans-serif;
}
img{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
button{
  border-radius: 10px;
  padding: 12px 34px;background-color: transparent;
  color:#FFF6E9;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}